/* First time using a separate CSS file*/
html{
    background-color: rgb(255, 255, 255);
    font-family: helvetica, arial, sans-serif;
}
h1{
    text-align: center;
    margin-top: 40px;
}
h3{
    text-align: center;
}
#greet{
    text-align: center;
    line-height: 12px;
}
#btnPlay{
    height: 50px;
    width: 170px;
    background-color: rgb(191, 112, 255);
    border: none;
    border-style: none;
    font-size: 25px;
    margin: 40px auto 0 auto;
    display: block;
}
#btnPlay:hover{
    cursor: pointer;
    background-color:rgb(196, 132, 248);
}
#plays-container{
}
.play{
    height: 50px;
    width: 170px;
    background-color:rgb(152, 255, 186);
    border: none;
    border-style: none;
    font-size: 25px;
    margin: 10px auto 0 auto;
    display: block;
    font-weight: bold;
}
.play:hover{
    cursor: pointer;
    
    background-color: rgb(112, 255, 160);
}
