/* First time using a separate CSS file*/
html{
    background-size: 15vmax;
    font-family: helvetica, arial, sans-serif;
    line-height: 1;
}
body{
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.849);
}
h1{
    text-align: center;
    margin-top: 0px;
}
h3{
    text-align: center;
}
#greet{
    font-size: 1rem;
    text-align: center;
}
#plays-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    #plays-container{
        flex-direction: column;
    }
}
button{
    outline: none;
}
.play{
    height: 2em;
    width: 8em;
    background-color:rgba(255, 255, 255, 0.5);
    border: solid 2px black;
    font-size: 1.3rem;
    margin: .25rem;
    display: inline;
    font-weight: bold;
}
.play:hover{
    cursor: pointer;
    background-color: rgb(253, 219, 125);
    transition: .15s;
    transform: scale(1.04);
}
#computer-weapon{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}
#result{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}
#score{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}
#winner{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}
#reload{
    height: 2em;
    width: 10em;
    background-color:rgb(126, 255, 143);
    border: none;
    border-style: none;
    font-size: 25px;
    margin: 1rem auto 0 auto;
    display: none;
    font-weight: bold;
}
#reload:hover{
    cursor: pointer;
    background-color:rgb(111, 219, 125);
    transition: .15s;
}