/* First time using a separate CSS file*/
html{
    background-size: 15vmax;
    font-family: helvetica, arial, sans-serif;
}
body{
    background-color: rgba(255, 255, 255, 0.849);
    min-height: 700px;
}
h1{
    text-align: center;
    margin-top: 40px;
}
h3{
    text-align: center;
}
#greet{
    font-size: 19px;
    text-align: center;
    line-height: 1;
}
#plays-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media only screen and (max-width: 500px) {
    #plays-container{
        flex-direction: column;
    }
}
button{
    outline: none;
}
.play{
    height: 2em;
    width: 6em;
    background-color:rgba(255, 255, 255, 0.5);
    border: solid 2px black;
    font-size: 25px;
    margin: .5rem;
    display: inline;
    font-weight: bold;
}
.play:hover{
    cursor: pointer;
    background-color: rgb(253, 219, 125);
}
#computer-weapon{
    font-size: 20px;
    text-align: center;
    margin-top: 2em;
}
#result{
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
}
#score{
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
}
#winner{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}
#reload{
    height: 2em;
    width: 8em;
    background-color:rgb(126, 255, 143);
    border: none;
    border-style: none;
    font-size: 25px;
    margin: 30px auto 100px auto;
    display: none;
    font-weight: bold;
}
#reload:hover{
    cursor: pointer;
    background-color:rgb(111, 219, 125);
}